<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.5">
  <title>{GetTitle()}</title>
</head>

<body>

  <label for="url-label"></label>
  <input #text_url type="text" name="url-label" id="text-url" value='https://localhost:44301/trasladodominio/solicitudes?usuario=angel&accion=busqueda_solicitudes&offset=0&limit=10&tipo_busqueda=&valor'>

  <button (click)="DoGetRequest(text_url.value)">Go</button>

  <p>Que tal</p>

  <div>{{GetData()}}</div>

</body>

</html>