
    .container {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 1em 1em; 
    }

    .login{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .login > *{
        width: 100%;
    }