<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.5">
  <title>{GetTitle()}</title>
  <style>
    input {
      width: 70%;
    }

    textarea {
      width: 80%;
      height: 40rem;
    }
  </style>


</head>

<body>

  <label for="">TOKEN</label>
  <input type="text" [value]="token_value" #token>
  <div></div>
  <label for=""> REFRESH TOKEN</label>
  <input type="text" [value]="refresh_token" #refreshToken>

  <p></p>

  <div class="container">

    <div class="urls">
      <input #text_url_GET type="text"
        value='http://94.74.69.84/ws/huixquilucantd/trasladodominio/consultas/propietario?usuario=ANGEL&accion=nuevo_propietario'>
      <button (click)="peticionGet(text_url_GET.value, token.value)">Go</button>
    </div>

    <div class="login">
      <select #suser name="user" id="id-user" (change)="UpdateUsuario(suser.value)">
        <option value="ALEJO">Alejo Traslado</option>
        <option selected value="CONTRIBUYENTE_FISICO@HOTMAIL.COM">CONTRIBUYENTE_FISICO@HOTMAIL.COM</option>
        <option value="coordinador_desarrollo_urbano@hotmail.com">coordinador_desarrollo_urbano@hotmail.com</option>
      </select>
      <label for="id-user">User: </label>
      <input #user type="text" name="user" id="id-user" [value]="usuario | uppercase">
      <label for="id-user">Pass: </label>
      <input #pass type="password" name="pass" id="id-pass" value="123456">

      <select #text_url_login name="uris" id="">
        <option value="http://genusserver.com/ws/gnsaplication/login/auth">Genus</option>
        <option selected value="http://genusserver.com:8283/wsauthorization/saiglogin/auth">SAIG</option>
      </select>
      <button (click)="peticionLogin(text_url_login.value)">Go</button>
    </div>

  </div>

  <!-- GET REQUEST -->

  <!-- REFRESH TOKEN -->

  <label for="url-label">
  </label>
  <input #text_url_refresh type="text" value='http://genusserver.com/ws/gnsaplication/login/auth_refresh'>

  <button (click)="peticionRefreshAuth(text_url_refresh.value, token.value, refreshToken.value)">Go</button>
  <!-- <div>{{GetData()}}</div> -->

  <!-- LOGIN -->

  <label for="url-label"></label>
  <!-- <input #text_url_login type="text"
    value='http://genusserver.com/ws/gnsaplication/login/auth'> -->


  <!-- POST JSON -->
  <!-- 
  <label for="url-label"></label>
  <input #text_url_post type="text"
    value='http://94.74.69.84/ws/huixquilucantd/predial/descuentos_configurados'>

  <button (click)="PeticionPostJSON(text_url_post.value, token.value)">Go</button> -->

  <br>
  <div style="height: 600px; overflow-y: auto;"><pre><code >{{GetData()}}</code></pre></div>

  <!-- <pre><code class="language-python">
    {{pythonCode()}}
  </code></pre> -->

  <!-- <div><pre><code>{{_data | json}}</code></pre></div> -->


  <!-- <div><pre><code>{{_data | json}}</code></pre></div> -->


  <button (click)="ChangeData()">Change Text</button>
  <!-- 
  <tr></tr>

  <input #archivo type="file" id="file" accept="image/*" width="300" height="300" (change)="upload($event)"/> -->
  <!-- <textarea name="xd" id="xd" cols="100" rows="50"></textarea>


  <button (click)="{CopytoClipboard()}">Copy to Clipboard</button>
  <button (click)="{DownloadByteArray()}">Download</button>
 -->
  <!-- <textarea #result [value]="byteArray.toString()"></textarea> -->
</body>

</html>