<div class="row">
  <div class="three columns">
    <select #convert name="user" id="id-user" class="u-full-width">
      <option value="BASE64" selected>BASE 64</option>
      <option value="BYTE">BYTE []</option>
      <option value="HEX">HEX []</option>
    </select>
  </div>
  <div class="four columns">
    <input
      #archivo
      type="file"
      id="file"
      accept="*/*"
      width="300"
      height="300"
      (change)="upload($event, convert.value)"
    />
  </div>

  <div class="ten columns">
    <textarea
      class="u-full-width h-72"
      #result
      [value]="byteArray.toString()"
    ></textarea>
  </div>
</div>
<!-- accept="image/*" -->
